html
    head
        title DatacordAnalytics - Home
    body
        h1=pageTitle
        if (!directory)
            p No directory selected
        else
            h1 Your data are loading... refresh this page in few seconds, the display should appear !